


#top_bar ul {
display: block;
float: left;
width: 80%;
list-style: none;
background-color: black;
text-align: center;
color: white;
}


#share_grid .grid_item_1{
  border: black solid 5px;


}
#share_grid .grid_item_2{
  border: black solid 5px;
  display: inline-block;
}
#share_grid .grid_item_3{
  border: black solid 5px;
  display: inline-block;
}
#share_grid .grid_item_4{
  border: black solid 5px;
  display: inline-block;
}
#share_grid .grid_item_5{
  border: black solid 5px;
  display: inline-block;
}
#share_grid .grid_item_6{
  border: black solid 5px;
  display: inline-block;
}
#share_grid .grid_item_7{
  border: black solid 5px;
  display: inline-block;
}
#share_grid .grid_item_8{
  border: black solid 5px;
  display: inline-block;
}
